.feed-filter {
    align-items: center;
    background-color: var(--wash);
    border-bottom: solid 1px var(--border-color);
    display: flex;
    gap: 4px;
    padding: 0 4px;
    position: sticky;
    top: -56px;
    height: 56px;
    margin: -56px -8px 0;
    z-index: 8;
    transition: var(--fds-duration-short-in) var(--fds-animation-expand-collapse-in);

    &.visible {
        top: 0;
        margin-top: 0;
        z-index: 8;
    }

    .media-button {
        align-items: center;
        border-radius: 20px;
        color: #65676B;
        cursor: pointer;
        display: inline-flex;
        font-weight: 600;
        padding: 0 14px;
        height: 40px;
        transition:
            background-color var(--fds-duration-short-in) var(--fds-animation-fade-in);

        &:hover {
            background-color: var(--secondary-button-background);
        }

        &.active {
            color: #216FDB;
            background-color: var(--fds-blue-95);
        }
    }

    .btn {
        margin-left: auto;
    }
}
