.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  padding: 16px 16px 0;
  width: 100%;

  &.no-padding {
    padding: 0;
  }

  &.padding-top {
    padding-top: 7px;
  }

  button {
    flex-grow: 1;
  }
}
